ion-button {
  margin-top: 5px;
  margin-left: 17px;
  margin-bottom: 0px;
  width: 90%; 
    border-radius: 30px;
    color:var(--ion-color-light);
    background-color:var(--ion-color-primary);
    font-family: 'Roboto', sans-serif; 
}