<ion-buttons slot="end">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="services" href="/tabs/services">
      <ion-icon name="diamond-sharp" aria-hidden="true"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointments" href="/tabs/appointments">
      <ion-icon aria-hidden="true" name="calendar-number-sharp"></ion-icon>
      <ion-label>Appointments</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="(this.authService.userType  | async) == 'client'" tab="schedule" href="/tabs/schedule">
      <ion-icon name="cart-sharp" aria-hidden="true"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="(this.authService.userType  | async) == 'manager'" tab="employees" href="/tabs/employees">
      <ion-icon name="people-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>Employees</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
