<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Services
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content> 
  <ion-row>
    <ion-col size="12">
  <ion-button  *ngIf="(this.authService.userType  | async) == 'manager'" id="add-button"  (click)="create()">
    ADD NEW
  </ion-button>
</ion-col>
</ion-row>
  <ion-searchbar show-clear-button="focus" value="" (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-list>
    <app-service-element *ngFor="let service of services" [service]="service">
</app-service-element>
  </ion-list>
</ion-content>
