<ion-card>
<ion-card-content>
  <ion-row>
    <ion-col  size="6" text-center>
  <ion-img [src]='employee.image' *ngIf="employee.image"></ion-img>
</ion-col>
<ion-col  size="6" text-center>
  <ion-text>
    <h2>  {{employee.user.name}} - {{employee.profession}}</h2>
</ion-text>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-button *ngIf="(this.authService.userType  | async) == 'client'" id="make-appointment-button"  (click)="makeAppointment()">
  SCHEDULE 
</ion-button>
</ion-col>
 <ion-col>
 <ion-button *ngIf="(this.authService.userType  | async) == 'manager'" id="delete-button"  (click)="deleteEmployee()">
  DELETE
 </ion-button>
</ion-col>
</ion-row>
 <ion-alert
 [isOpen]="isAlertOpen"
 trigger="delete-button"
 header="Information"
 subHeader="Important message"
 [message]="message" 
 [buttons]="alertButtons"
></ion-alert>
</ion-card-content>
</ion-card>
