<ion-card>
  <ion-card-header >
    <ion-card-title>
      <ion-text>
         {{service.name}}
      </ion-text>
      </ion-card-title>
  </ion-card-header>
<ion-card-content>
  <ion-row class="data">
  <ion-col size="4">
   <ion-icon name="cash-sharp"></ion-icon>
</ion-col>
<ion-col size="4" style="margin-left: 29px;">
  <ion-icon name="hourglass-sharp"></ion-icon>
  </ion-col>
</ion-row>
  <ion-row class="data">
<ion-col size="4">
  <h3> <b>{{service.cost}}</b> </h3>
</ion-col>
<ion-col size="4">
  <h3> <b>{{service.duration}} mins</b> </h3>
</ion-col>
</ion-row>
<ion-row>
<ion-label>
  <p>
  {{service.description}}
  </p>
</ion-label>
</ion-row>
</ion-card-content>
<ion-row>
  <ion-button *ngIf="(this.authService.userType  | async) == 'client'" id="schedule-button"  (click)="showOffers()">
    SCHEDULE
  </ion-button>
  <ion-button *ngIf="(this.authService.userType  | async) == 'manager'" id="service-button"  (click)="editService()">
UPDATE  </ion-button>
  </ion-row>
</ion-card>