<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Offers
    </ion-title>
    <ion-buttons slot="end" >
      <ion-back-button defaultHref="/tabs/services" color="black" slot="end"> </ion-back-button>
        </ion-buttons>
  </ion-toolbar>

























































  
</ion-header>

<ion-content>
  <ion-list>
    <app-employee-element *ngFor="let employee of employees" [employee]="employee">
</app-employee-element>
  </ion-list>
</ion-content>