<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      New Appointment Items
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content> 
  <ion-row *ngIf="items.length>0">
    <ion-col size="12">
      <ion-text class="ion-text-center">
        <h2>  {{date}} </h2>
    </ion-text>
</ion-col>
</ion-row>
<ion-row *ngIf="items.length==0">
  <ion-col size="12">
    <ion-text class="ion-text-center">
      <h2>  Card is empty. </h2>
  </ion-text>
</ion-col>
</ion-row>
  <ion-list>
    <app-item-element *ngFor="let item of items" [item]="item">
</app-item-element>
  </ion-list>
<ion-row *ngIf="items.length>0">
  <ion-col>
    <ion-button shape="round" expand="block" size="small"  (click)="makeAppointment()" id="makeAppointment" >
      <ion-icon name="checkmark-done-outline"></ion-icon> Finish
    </ion-button>
    </ion-col>
    </ion-row>
</ion-content>
